* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --soft-black: #212121;
    --turquise-color: rgb(77, 182, 172,0.5);
}

body {
    min-height: 200vh;
    max-width: 1280px;
}

/*HEADER START*/

/*NAVİGATİON START*/

.navigation {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}

.navigation img {
    margin-left: -0.8rem;
    z-index: -1;
}

.navigation a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    color: 	#212121;
    font-size: 0.9rem;
    transition: 0.1s ease;
}

.navigation a:visited {
    color: 	#212121;
}

.navigation a:hover {
    color: rgb(77, 182, 172,0.5);
}

.navigation i {
    padding-right: 5px;
    transition: 0.4s ease;
}

/**/

.navigation input {
    width: 38rem;
    height: 2.4rem;
    margin-left: -20px;
    background-color: rgb(	238, 238, 238);
    border: 0;
    outline: none;
    border-radius: 0.2rem;
    padding: 0rem 1rem;
    transition: 0.3s ease;
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
}

input[type=search]:focus{
    background-color: #fff;
    border-top: 2px solid rgb(77, 182, 172,0.5);
    border-bottom: 2px solid rgb(77, 182, 172,0.5);
    box-shadow: 0px -3px 8px -3px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px -3px 8px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -3px 8px -3px rgba(0,0,0,0.55);
}

button[type=submit]{
    text-indent: -999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: url(magnifying-glass-solid.svg) no-repeat center;
    border: none;
    width: 20px;
    height: 20px;
    align-self: center;
    margin-left: -30px;
}

/*ASİDE START SEARCH MENU */

.search-container {
    border: 2px solid;
    border-color: var(--turquise-color);
    border-radius: 0.2rem;
    background-color: #fff;
    width: 38rem;
    padding: 0.5rem 1rem;
    top: 0;
    left: 0;
    margin-left: 13.5rem;
    z-index: 1;
    margin-top: -4.12rem;
    transform: scaleY(0);
}

.search-container.active {
    transform: scaleY(1);
}

.search-container .h3-1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    padding: 0 0 0.3rem 0;
    color: var(--soft-black);
}

.search-container .h3-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.78rem;
    padding: 0.5rem 0 0.3rem 0;
    color: var(--soft-black);
}

.search-container a {
    text-decoration: none;
    border: 1px solid;
    border-radius: 0.2rem;
    color: var(--soft-black);
    font-size: 0.54rem;
    padding: 0.12rem 0.4rem;
    font-family: 'Open Sans', sans-serif;
}

.search-container a:link, a:visited {
    text-decoration: none;

}

.search-container a:active, a:hover {
    color: var(--turquise-color);
}

/*ASİDE END*/

/*NAVİGATİON END*/

/*NAVİGATİON DROPDOWN START*/

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: none;
}

.dropdown-content button {
    display: block;
    margin-bottom: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dpbutton {
    color: var(--turquise-color);
}

.dp-1 {
    border: 1px solid rgb(	224, 224, 224);
    background-color: #fff;
    display: grid;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    position: relative;
    border-radius: 0.5rem;
    margin-top: 1rem;
    z-index: 1;
    /*box-shadow: 4px 8px 4px 8px rgba(0,0,0,0.2);*/
}

.dp-1:after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 28px;
    top: -10px;
    border-style: solid;
    border-width: 0 12px 10px 12px;
    border-color: transparent transparent rgb(	224, 224, 224) transparent;
}

.dp-1 button {
    padding: 0.5rem 3.5rem;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    cursor: pointer;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: var(--soft-black);
}

.dp-1 .first-button {
    background-color: var(--turquise-color);
    border: none;
    border-radius: 0.3rem;
}

.dp-1 .second-button {
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 0.3rem;
}

/*NAVİGATİON DROPDOWN END*/

/*SECOND NAVİGATİON START*/

.second-navigation {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 0.17rem 0;
    border-bottom: 1px solid #cecece;
    box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.75);
}

.second-navigation .s-nb:link, a:visited {
    color:#212121;
    position: relative; 
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.second-navigation .s-nb::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(77, 182, 172,0.5);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.second-navigation .s-nb:hover::after { 
    transform-origin: left;
    transform: scaleX(1); 
}


/*SECONDNAV DROPDOWN START*/


.second-dropdown {
   
}

.second-dropdown-content {
    display: none;
    position: absolute;
    width: 1177px;
    background-color: beige;
    margin-top: 4px;
    margin-left: 15px;
    left: 0;
    z-index: 900;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 142px 102px 44px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 142px 102px 44px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 142px 102px 44px rgba(0,0,0,0.75);
}

.second-dropdown:hover .second-dropdown-content {
    display: block;
}

.second-dropdown:hover .s-nb {
    color: var(--turquise-color);
}

.second-dropdown-content a {
    float: none;
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    text-align: left;
}


#category-title {
    font-weight: bold;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.sub-nav-center {
    padding: 25px;
    width: 100%;
}

.sub-nav-outer {
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.sub-nav .normal-column {
    width: auto;
    height: 300px;
    float: left;
    padding: 0 25px 0 1px;
}

.category-box {
    margin-bottom: 10px;
}

.category-box .sub-item-list {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
}

.img-banner-dp {
    border-radius: 5px;
}

.normal-column-img {
    margin-right: 25px;
    margin-top: -15px;
}

.normal-column-img .category-box-img {
    padding: 5px;
}

.second-navigation a:active, a:hover {
    color: rgb(77, 182, 172,0.5);
}
/*
.second-dropdown-content #container-background {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 600;
    opacity: 0.3;
    background-color: #222;
}*/

/*SECONDNAV DROPDOWN END*/

/*SECOND NAVİGATİON END*/

/*HEADER END*/

/*
@media screen and (max-width: 600px){
    .navigation input[type=search]{
        text-align: left;
    }
}
*/

@media (max-width: 1080px) {
    .search-container {
        margin-left: 9.0625rem;
        margin-top: -5.5rem;
    }
}
